<div
  class="app-container"
  [ngStyle]="{ 'min-width.px': isMobileOrTablet ? 'unset' : '1024' }"
>
  <mat-toolbar class="nav-bar">
    <app-nav-bar [isMobileOrTablet]="isMobileOrTablet" (clickNav)="sNav.toggle()"> </app-nav-bar>
  </mat-toolbar>

  <mat-sidenav-container class="main-container">
    <mat-sidenav
      #sNav
      [mode]="'over'"
      [opened]="isMobileOrTablet"
    >
      <mat-nav-list> IsMenu </mat-nav-list>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="container-content">
        <router-outlet></router-outlet>
      </div>
      <div class="footer-app">
        <app-footer></app-footer>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
