/* You can add global styles to this file, and also import other style files */
@import "./colors.scss";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
.app-container {
  .main-container{
    top: 65px;
  }

  mat-toolbar {
    background-color: $RED !important;
    color: $WHITE !important;
    font-weight: bold;
    height: 65px;
    position: fixed;
    z-index: 1000;
  }
  mat-sidenav-container {
    max-width: 1360px;
    margin: auto;
  }
  mat-sidenav {
    width: 250px;
  }
}

.cdk-overlay-container .customize + * > .cdk-overlay-pane {
  width: 100%;
  left: 0;
  right: 0;
  top: 65px !important;
  .mat-menu-panel {
    min-width: 100%;
  }
}
