/* You can add global styles to this file, and also import other style files */
@import "./colors.scss";
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}
mat-toolbar {
  background-color: $RED !important;
  color: $WHITE !important;
  font-weight: bold;
}
mat-sidenav-container {
  max-width: 1360px;
  margin: auto;
}
mat-sidenav {
  width: 250px;
}
